body {
  font-size: 14px;
  background-color: #777799;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 3.5em;
}

h5 {
  display: inline-block;
  font-size: 1.5em;
}

input {
  border: 1px solid black;
  /**XXXXX** BEGIN Rem out **XXXXX**
  ***X border-top: none;
  ***X border-left: none;
  ***X border-right: none;
  ***XXXXX**  END  Rem out **XXXXX**/
  margin-bottom: 10px;
  font-size: 1em;
  color: black;
  width: 100%;
}

.displayTimeLeft {
  width: 100%;
  text-align: center;
}

.displayTimeLeft::after {
  content: " ";
  display: block;
  clear: both;
}

.question {
  margin: 0rem;
  padding: 0rem;
  border: 1px solid black;
  border-radius: 10px;
}

#minutesLeft {
  font-size: 4em;
}

#secondsLeft {
  font-size: 2em;
}

.scroll {
  max-height: 60vw;
  overflow-y: scroll;
}
